<body>
    <h1>Login Form</h1>
    <div class ="container">
     <label> Email or UserName</label>
     <input type="text" placeholder="Enter Email or UserName" name="Email or UserName" required>
     <label for="Password"><b>Password</b></label>
     <input type="text" placeholder="Enter Password" name="Password" required>
     <label for="Password"><b>Password</b></label>
     <input type="text" placeholder="Enter Password" name="Password" required>
     <br/>
     <a routerLink="/ForgotPassword">ForgotPassword</a>
     <button routerLink="/Login" routerLinkActive="active" type="submit"></button>
     <br/>
     <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
     </div> 
     
    </div>
    <p> Don't have an account <a routerLink="/signup">Signup</a></p>

</body>
