<body>
    <h1>LoginForm</h1>
    <div class ="container">
     <label> <b>Email or UserName</b></label>
     <input type="text" placeholder="" name="Email or UserName" required>
     <label for="Password"><b>Password</b></label>
     <input type="text" placeholder="" name="Password" required>
      <a routerLink="/Forgot">ForgotPassword?</a>
        <a routerLink="/categories"><input type="button" value="Submit"/></a>
    </div>
    <p> Don't have an account <a routerLink="/signup">Signup</a></p>

</body>
