<body>
    <div class="suta">
         <div class="row">
             <div class="col">
                     <div class="product">
                         <img src="../../assets/cotton-saree-img.jpg" alt="saree"  style="width: 95%">
                     </div>                
             </div>
             <div class="col">
 
                 <div class="content">
                     <p class="brand">Brand: Suta</p>
                     <h2>Cotton Sarees By Suta</h2>
                     <p class="price">Brand: Suta</p>
                     
                     
                     </div>
 
             </div>
         </div>
         <div class="related">
             <h2>Related Images</h2>
             <div class="row">
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/Rituja mul cotton saree.jpg" alt="saree" >
                         <div class="details">
                             <p>Rituja Mul Cotton Saree|Suta</p>
                             <p> MRP :Rs. 1400.00</p>
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/suta blue handloom cotton saree.jpg" alt="saree" >
                         <div class="details">
                             <p>Blue Cotton saree|Suta</p>
                             <p> MRP:Rs. 2000.00</p>
 
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/cottonsaree-1.jpg" alt="saree" style="width:100%">
                         <div class="details">
                             <p>Tangali Cotton Saree|Suta</p>
                             <p> MRP:Rs. 2000.00</p>
 
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/cotton1.jpg" alt="saree" >
                         <div class="details">
                             <p>Cotton Saree|Suta</p>
                             <p> MRP:Rs. 3000.00</p>
 
                         </div>
                     </div>
                 </div>
             </div>
         </div>
 
     </div>
 </body>
 
