<body>
    <div class="suta">
         <div class="row">
             <div class="col">
                     <div class="product">
                         <img src="../../assets/Banaras Saree.jpg" alt="saree" style="width:95%">
                     </div>                
             </div>
             <div class="col">
 
                 <div class="content">
                     <p class="brand">Brand: Suta</p>
                     <h2>Banaras Sarees By Suta</h2>
                     <p class="price">Brand: Suta</p>
                     
                     
                 </div>
 
             </div>
         </div>
         <div class="related">
             <h2>Related Images</h2>
             <div class="row">
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/banaras1.jpg" alt="saree"  style="width:110%">
                         <div class="details">
                             <p>Red Color Banaras Saree|Suta</p>
                             <p> MRP :Rs. 1400.00</p>
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/banaras2.jpg" alt="saree" >
                         <div class="details">
                             <p>Violet Color Banaras saree|Suta</p>
                             <p> MRP:Rs. 2000.00</p>
 
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/banaras3.jpg" alt="saree" style="width:100%">
                         <div class="details">
                             <p>Blue Color  Banaras Saree|Suta</p>
                             <p> MRP:Rs. 1700.00</p>
 
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/purple banaras saree.jpg" alt="saree" >
                         <div class="details">
                             <p>Purple Banaras Saree|Suta</p>
                             <p> MRP:Rs. 3000.00</p>
 
                         </div>
                     </div>
                 </div>
             </div>
         </div>
 
     </div>
 </body>
