
    <body>
    
      <h1>This is the Different Category Models</h1>
    
    
       <div class="row">
          <div class="column">
            <img src="../../assets/design-saree-img.jpg" alt="saree" style="width:65%">
            <p>Design Saree</p>
          </div>
          <div class="column">
           <img src="../../assets/handloom-saree-img.jpg" alt="saree" style="width:64%">
           <p>Handloom Saree</p>
          </div>
          <div class="column">
           <img src="../../assets/lehanga-crop-top-img.jpg" alt="saree" style="width:67%">
           <p>Lehanga-crop-top</p>
           </div>
       </div>
    
    </body>