<body>
     <h1>This is the Different Category Models</h1>
    
    
       <div class="container">
          <div class="column">
            <h2>Design Saree</h2>
              <a href="/product"> <img src="../../assets/design-saree-img.jpg" alt="saree" style="width:65%"></a>
           
            
          </div>
          <div class="column">
            <h3>Handloom Saree</h3>
           <a href="/product1-handloom"><img src="../../assets/handloom-saree-img.jpg" alt="saree" style="width:64%"></a>
           
          </div>
          <div class="column">
            <h4>Lehanga-crop-top</h4>
           <a href="/product2"><img src="../../assets/lehanga-crop-top-img.jpg" alt="saree" style="width:67%"></a>
           
           </div>
       </div>
       <div class="column">
        <h5>Cotton Saree</h5>
        <img src="../../assets/cotton-saree-img.jpg" alt="saree" style="width:65%">
       
        
      </div>
      <div class="column">
        <h5>Raga Saree</h5>
        <img src="../../assets/raga-brindavan-sarang-img.jpg" alt="saree" style="width:65%">
       
        
      </div>
      <div class="column">
          <h5>Banaras Saree</h5>
          <img src="../../assets/Banaras Saree.jpg" alt="saree" style="width:65%">
         
          
        </div>
        
    
</body>