<body>
     <h1>This is the Different Category Models</h1>
    
    
       <div class="container">
          <div class="column">
            <h2>Design Sarees</h2>
              <a href="/product"> <img src="../../assets/design-saree-img.jpg" alt="saree" style="width:65%"></a>
           
            
          </div>
          <div class="column">
            <h3>Handloom Sarees</h3>
           <a href="/product1-handloom"><img src="../../assets/handloom-saree-img.jpg" alt="saree" style="width:64%"></a>
           
          </div>
          <div class="column">
            <h4>Lehanga-crop-top</h4>
           <a href="/product2"><img src="../../assets/lehanga-crop-top-img.jpg" alt="saree" style="width:67%"></a>
           
           </div>
       </div>
       <div class="column">
        <h5>Cotton Sarees</h5>
        <a href="/product3"><img src="../../assets/cotton-saree-img.jpg" alt="saree" style="width:65%"></a>
       
        
      </div>
      <div class="column">
        <h5>Raga Sarees</h5>
        <a href="/product4"><img src="../../assets/raga-brindavan-sarang-img.jpg" alt="saree" style="width:65%"></a>
       
        
      </div>
      <div class="column">
          <h5>Banaras Sarees</h5>
          <a href="/product5"><img src="../../assets/Banaras Saree.jpg" alt="saree" style="width:65%"></a>
         
          
        </div>
        
    
</body>