<body>
    <div class="suta">
         <div class="row">
             <div class="col">
                     <div class="product">
                         <img src="../../assets/raga-brindavan-sarang-img.jpg" alt="saree" style="width:95%">
                     </div>                
             </div>
             <div class="col">
 
                 <div class="content">
                     <p class="brand">Brand: Suta</p>
                     <h2>Raga Sarees By Suta</h2>
                     <p class="price">Brand: Suta</p>
                     <p>Size: <select name="size">
                             <option value="select size">select size</option>
                             <option value="small">small</option>
                             <option value="medium">medium</option>
                             <option value="large">large</option>
                         </select></p>
                     <p>Quantity: <input type="text" value="1"></p>
                     
                 </div>
 
             </div>
         </div>
         <div class="related">
             <h2>Related Images</h2>
             <div class="row">
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/raga-bhairavi.jpg" alt="saree"  style="width:115%">
                         <div class="details">
                             <p>Raga Bhairavi Saree</p>
                             <p> MRP :Rs. 1400.00</p>
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/raga-kafi.jpg" alt="saree" >
                         <div class="details">
                             <p>Raga Kafi saree</p>
                             <p> MRP:Rs. 2000.00</p>
 
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/raga-saama.jpg" alt="saree" style="width:100%">
                         <div class="details">
                             <p>Raga Saama Saree</p>
                             <p> MRP:Rs. 1100.00</p>
 
                         </div>
                     </div>
                 </div>
                 <div class="columns">
                     <div class="items">
                         <img src="../../assets/raga-shanmukhapriyam.jpg" alt="saree" >
                         <div class="details">
                             <p>Raga Shanmukhapriyam Saree</p>
                             <p> MRP:Rs. 3000.00</p>
 
                         </div>
                     </div>
                 </div>
             </div>
         </div>
 
     </div>
 </body>
 
