* {box-sizing: border-box}

body {
  
  background-color: #ddd;
  background-size:cover;
  margin-left:500px;
  margin-right: 500px;
  padding:0;   
}
 .container{
   position: relative;
   /* Center form on page horizontally  */
    left: 20%; 
    margin-left: -150px;  
 }  
  /* Add padding to container elements */
 .container
  {
  width:360px;
  height: 600px;
  margin: 0 auto 100px;
  background-color:white;
  border-radius: 3px;
  padding: 45px;
 }
  
 h1 {
  text-align: center;
  padding-top: 15px;
 }

 .container {
  width: 300px;
  margin-left: 20px;
 }
 .container label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
 }
 .container input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
 }
 input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 30px;
  border: none;
  background-color:navy;
  font-size: 18px;
  color: white;
  }
 p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
 }


