
<body>
    <h1>SignUp Page</h1>
    <div class="container">
        <label><b>UserName:</b></label>
        <input type="text" placeholder="" (keyup)="onkey($event,'UserName')">
        <p *ngIf="!valid.UserName" class="errorMsg">username should more than 7 characters</p>
        <label><b>Email:</b></label> 
        <input type="text" placeholder="" (keyup)="onkey($event,'Email')">
        <p *ngIf="!valid.Email" class="errorMsg">Your email is incorrect</p>
         <label for="Password"><b>Password</b></label>
        <input type="text" placeholder="" (keyup)="onkey($event,'Password')"> 
        
        <label for="ConformPasword"><b>ConformPassword</b></label>
        <input type="text" placeholder="" (keyup)="onkey($event,'ConformPassword')"> 
        <p *ngIf="!valid.Password" class="errorMsg">password doesn't match</p>

        <label for="PhoneNumber"><b>PhoneNumber</b></label>
        <input type="text" placeholder="" name="PhoneNumber" required>
        <label for="Address"><b>Address</b></label>
        <input type="text" placeholder="" name="Address" required> 
        <input routerLink="/sub" type="button" value="Submit"/>
        <a routerLink="/Login"></a> 
        <br/>
    </div>
</body> 

<!--<body>
    <h1>SignUp Page</h1>
    <p>Please fill all the fields.</p>
    
    <div class="container">
        <label for="UserName"><b>UserName</b></label>
        <input type="text" placeholder="" name="username" required> 
        <label for ="Email"><b>Email</b></label> 
        <input type="text" placeholder="" name="email" required>
        <label for="Password"><b>Password</b></label>
        <input type="text" placeholder="" name="password" required> 
        <label for="ConformPasword"><b>Conformpassword</b></label>
        <input type="text" placeholder="" name="conformpassword" required> 
        <label for="PhoneNumber"><b>PhoneNumber</b></label>
        <input type="text" placeholder="" name="PhoneNumber" required> 
        <label for="Address"><b>Address</b></label>
        <input type="text" placeholder="" name="Address" required> 
        <input routerLink="/sub" type="button" value="Submit"/>
        <a routerLink="/Login"></a> 
        <br/>
    </div>
</body> -->